#main {
    background: linear-gradient(0deg, #DEE4ED, #fff);
}

.header {
    position: fixed;
    z-index: 9999;
    display: flex;
    width: 375px;
    height: 72px;
    border-bottom: 1px solid rgba(84, 89, 115, .1);
    background: white;
}

.header .back-btn {
    width: 48px;
    height: 72px;
    background: url("../../../images/arrow_left_icon_white.png") no-repeat #2196F3;
    background-position: center;
}

.header h1 {
    width: 375px;
    margin: 6px 0 0 -24px;
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    pointer-events: none;
}

/*************************
 * Tab Menu + Tab Content Container
 *************************/
.tab-menu-wrapper {
    position: fixed;
    top: 72px;
    left: calc( (100wv - 327px) / 2 );
    width: 375px;
    background: white;
    border-bottom: 1px rgba(0, 0, 0, .05) solid;
}
.tab-menu {
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
    margin: 0;
}

.tab-menu li {
    text-transform: uppercase;
    color: rgba(86, 87, 113, .4);
    padding: 0 24px 12px 24px;
    cursor: pointer;
}

.tab-menu li.active {
    color: #2196F3;
    border-bottom: 2px #2196F3 solid;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}




.content {
    margin-top: 156px;
}

h2 {
    font-size: 21px;
    margin: 24px 0 24px 0;
}

p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(84, 89, 115, .6);
}

.details {
    width: calc(100% - 80px);
    margin: 24px 0 0 24px;
    border-radius: 6px;
    border: 2px solid rgba(84, 89, 115, .2);
    padding: 0 16px;
}

.row {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid rgba(84, 89, 115, .1);
}

.row:last-child {
    border: none;
}

.label {
    width: 108px;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 700;
    color: #545973;
}

.value {
    text-align: left;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 500;
    color: #545973;
}

.description {
    padding: 24px;
}

#description-content .player {
    width: 100%;
    border-radius: 6px;
}

.description-type-notice {
    text-align: left;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 500;
    color: rgba(84,89,115,.6);
    padding: 0;
    margin: 8px 0 16px 0;
}

.description .label {
    width: 120px;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 700;
    color: #545973;
}

.actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 64px;
}

.actions button {
    margin-bottom: 12px;
}

.actions button:last-child {
    margin: 0;
}



.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: calc( (100wv - 327px) / 2 );
    width: 375px;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
}

.overlay .container {
    width: 327px;
    border-radius: 6px;
    background: white;
}

.container .title {
    font-size: 16px;
    font-weight: 600;
    color: #545973;
}

.container .text {
    font-size: 14px;
    font-weight: 400;
    color: #545973;
}

.abort-confirm-wrapper {
    display: flex;
    flex-direction: row;
    width: 375px;
    margin-top: 24px;
    border-top: 1px solid rgba(84, 89, 115, .1);
}

.abort-button {
    width: calc(50% - 24px);
    height: 48px;
    background: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "SF Pro Display";
    border-bottom-left-radius: 6px;
    color: #545973;
}

.confirm-button {
    width: calc(50% - 24px);
    height: 48px;
    color: white;
    background: #2196F3;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "SF Pro Display";
    border-bottom-right-radius: 6px;
}

#scan-btn {
    width: 327px;
    border: 2px solid #2196F3;
    background: none;
    color: #2196F3;
}

#delivered-btn,
#pay-btn {
    width: 161px;
}