<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Nah und Gern - Deine Nachbarschaftshilfe</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="views/registrierung_helfer/css/style.css" />
</head>
<body>
    <div id="main">

        <div id="menu-container">
            <button id="hide-menu" class="close-btn"></button>
            <ul class="list">
                <li><a href="?v=anmelden">Anmelden</a></li>
                <li><a class="get-in-contact-btn" href="#">Kontakt</a></li>
                <li><a href="?v=datenschutz">Impressum/Datenschutz</a></li>
            </ul>
        </div>

        <section id="sticky-header">
            <a href="/"><img src="images/logo.png" alt="Nah und Gern Logo" width="126" height)="41" /></a>
            <a class="menu-button" href="#">
                <img src="images/menu_button_dark.png" width="20" height="18" alt="Hauptmenü" />
            </a>
        </section>

        <section id="pagefold">

            <div id="pagefold-header">
                <a href="/"><img src="images/logo.png" alt="Nah und Gern Logo" width="126" height)="41" /></a>
                <a class="menu-button" href="#">
                    <img src="images/menu_button_dark.png" width="20" height="18" alt="Hauptmenü" />
                </a>
            </div>

            <div id="pagefold-content">
                <h1>Registrierung<br/><span class="text-highlight-bold">für Bedürftige</span></h1>
                <p>Du hast die Möglichkeit dich mit deinem Facebook oder Google Konto zu registrieren.</p>
                <a id="facebook-login-btn" href="#"><img src="images/facebook_login.png" width="251" height="46" alt="Mit Facebook anmelden" /></a>
                <a id="google-login-btn" href="#"><img src="images/google_login.png" width="191" height="46" alt="Mit Google anmelden" /></a>

                <span class="divider-text text-highlight-bold">ODER</span>
                <p class="alternative-text">Trage deine Daten in das<br />nachfolgende Registrierungsformular ein</p>

            </div>

        </section>

        <section id="register-form-section">
            <div class="input-wrapper">
                <label for="firstname">Vorname</label>
                <input type="text" id="firstname" />
            </div>
            <div class="input-wrapper">
                <label for="lastname">Nachname</label>
                <input type="text" id="lastname" />
            </div>
            <div class="two-element-row-wrapper street-no">
                <div class="input-wrapper">
                    <label for="street">Straße</label>
                    <input type="text" id="street" />
                </div>
                <div class="input-wrapper">
                    <label for="streetnumber">Hausnr.</label>
                    <input type="text" id="streetnumber" />
                </div>
            </div>
            <div class="two-element-row-wrapper zip-town">
                <div class="input-wrapper">
                    <label for="zip">PLZ</label>
                    <input type="text" id="zip" />
                </div>
                <div class="input-wrapper">
                    <label for="town">Ort</label>
                    <input type="text" id="town" />
                </div>
            </div>
            <div class="input-wrapper">
                <label for="email">Email Adresse</label>
                <input type="text" id="email" />
            </div>
            <div class="input-wrapper">
                <label for="password">Neues Passwort</label>
                <input type="password" id="password" />
            </div>
            <div class="input-wrapper">
                <label for="repeat-password">Neues Passwort wiederholen</label>
                <input type="password" id="repeat-password" />
            </div>

            <div class="two-element-row-wrapper acceptance">
                <div id="cbx-wrapper">
                    <div id="check-icon"></div>
                    <input type="checkbox" id="cbx" />
                </div>
                <p>Mit setzen des Häkchens erklären Sie sich mit unseren Nutzungsbedingungen und Datenschutz einverstanden</p>
            </div>

            <button class="button-48" id="register-btn">Jetzt Registrieren</button>
        </section>

        <section id="footer-section">
            <span class="copyright">&copy; 2020 nah-und-gern.de</span>
        </section>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

            /**
             * Registrierung Submit button
             */
            $('#register-btn').click(function() {
                window.open('?v=registrierung-abgeschlossen', '_parent');
            });

            /**
             * Sticky Header on specific scrollposition
             */
            let threshold = 400;
            let flag = false;
            window.addEventListener("scroll", function(e) {
                if (window.scrollY > threshold && !flag) {
                    flag = true;
                    $('#sticky-header').css("display", "flex")
                        .hide().slideDown(150);
                } else if (window.scrollY < threshold && flag) {
                    flag = false;
                    $('#sticky-header').slideUp(150);
                }
            });

            /**
             * Nug kontaktieren
             */
            $(".get-in-contact-btn").click(function() {
                window.open('mailto:Nah und Gern<hallo@nah-und-gern.de>', '_blank');
            });

            /**
             * Menu Show/Hide
             */
            $('.menu-button').click(function() {
                $('#menu-container').css("display", "flex").hide();
                $('#menu-container').fadeIn(300);
            });

            $('#hide-menu').click(function() {
                $('#menu-container').fadeOut(300);
            });

            /**
             * Checkbox Toggle
             */
            $('#cbx-wrapper').click(function() {
                let cbxEl = $(this).find('#cbx');
                let checked = cbxEl.prop("checked");

                if (checked) {
                    cbxEl.prop("checked", false);
                    $('#check-icon').css("display", "none");
                } else {
                    cbxEl.prop("checked", true);
                    $('#check-icon').css("display", "block");
                }
            });
        });
    </script>
</body>
</html>