#main {
    background: linear-gradient(0deg, #DEE4ED, #fff);
}

.page-title {
    font-size: 32px;
    font-weight: 300;
    margin: 24px 0 24px 0;
    color: #545973;
    line-height: 32px;
    text-align: left;
}


/*************************
 * Radius Section
 *************************/
#radius-section {
    padding: 24px;
    background: #2196F3;
}

#radius-section .title {
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding: 0;
    margin-bottom: 8px;
}

.range-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#range-value-input {
    width: 16px;
    padding: 8px;
    background: none;
    border: none;
    outline: none;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
}

.slider-wrapper {
    margin-right: 24px;
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .4);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background: white;
    cursor: pointer;
    border: none;
}

.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background: white;
    cursor: pointer;
    border: none;
}

/*************************
 * Searchresult section
 *************************/
#searchresult-section {
    margin-bottom: 48px;
    padding: 24px 0 24px 0;
}

#searchresult-section .result-title {
    color: #545973;
    margin: 0 0 16px 24px;
}

.line-divider {
    height: 1px;
    width: calc(100% - 48px);
    margin-left: 24px;
}
.line-divider.dark {
    background: rgba(84, 89, 115, .15);
}

/*************************
 * Searchresult List items
 *************************/
/**
<li>
                    <div class="distance"><span class="value">2</span><span class="text-small-bold">km</span></div>

                    <div class="job-details-wrapper">

                        <div class="job-details">
                            <h5 class="censored-address">12345 Stadt / Ortsteil</h5>
                            <div class="inserted-since">
                                <div class="icon"></div>
                                <span>Vor 40 Minuten</span>
                            </div>
                        </div>

                        <button class="goto-detailpage"></button>
                    </div>
                </li>
 */

#result-list {
    width: calc(100% - 24px);
    margin: 16px 0 0 24px;
}

#result-list li {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-bottom: 12px;
}

#result-list li .distance {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    background: #2196F3;
}

#result-list li .distance .text-small-bold {
    font-size: 10px;
    font-family: "SF Pro Display";
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 4px;
}

#result-list li .job-details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 56px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: white;
    margin-left: 8px;
}

#result-list li .job-details-wrapper h5 {
    font-size: 14px;
    margin: 0 0 0 12px;
    color: #545973;
}

#result-list li .job-details-wrapper .inserted-since {
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    margin-left: 12px;
}

#result-list li .job-details-wrapper .inserted-since.just {
    color: green;
}
#result-list li .job-details-wrapper .inserted-since.late {
    color: orange;
}
#result-list li .job-details-wrapper .inserted-since.verylate {
    color: red;
}

#result-list li .goto-detailpage {
    width: 48px;
    height: 48px;
    background: url('../../../images/arrow_right_icon.png') no-repeat;
    background-position: center;
}

























