<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Nah und Gern - Deine Nachbarschaftshilfe</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="views/landingpage/css/style.css" />
</head>
<body>
    <div id="main">

        <div id="menu-container">
            <button id="hide-menu" class="close-btn"></button>
            <ul class="list">
                <li><a href="?v=anmelden">Anmelden</a></li>
                <li><a class="get-in-contact-btn" href="#">Kontakt</a></li>
                <li><a href="?v=datenschutz">Impressum/Datenschutz</a></li>
            </ul>
        </div>

        <section id="sticky-header">
            <img src="images/logo.png" alt="Nah und Gern Logo" width="126" height)="41" />
            <a class="menu-button" href="#">
                <img src="images/menu_button_dark.png" width="20" height="18" alt="Hauptmenü" />
            </a>
        </section>

        <section id="pagefold">

            <div id="pagefold-header">
                <img src="images/logo_white.png" alt="Nah und Gern Logo" width="126" height)="41" />
                <a class="menu-button" href="#">
                    <img src="images/menu_button.png" width="20" height="18" alt="Hauptmenü" />
                </a>
            </div>

            <div id="pagefold-content">
                <h1>Gemeinsam<br />deinen Nachbarn<br />helfen!</h1>
                <p>Nah und Gern - Deine App für<br />spielend leichte Nachbarschaftshilfe.</p>
                <button class="button-48 helfer-c2a-btn">Ich <span class="text-highlight-bold">kann</span> helfen!</button>
                <button class="button-48 beduerftige-c2a-btn">Ich <span class="text-highlight-bold">brauche</span> Hilfe!</button>

                <div id="start-tutorial-wrapper">
                    <img src="images/play_icon.png" width="20" height="20" alt="Play Icon" />
                    <span>So funktioniert's</span>
                </div>

            </div>

        </section>

        <section id="first-title-text-element">
            <h2>Nah und Gern.<br />Gemeinsam für die Risikogruppe</h2>
            <p>In Zeiten von Corona sollten Personen die einer Risikogruppe angehören Zuhause bleiben.
                Alltägliche Tätigkeiten wie Einkaufen gehen können plötzlich zur Gefahr werden...
            </p>
        </section>

        <section id="how-it-works">
            <h2>So funktioniert's</h2>
            <ul class="tab-menu">
                <li class="tab-menu-item active" data-tab-content-id="tab-content-helfer">Helfer</li>
                <li class="tab-menu-item" data-tab-content-id="tab-content-beduerftige">Bedürftige</li>
                <li class="tab-menu-item" data-tab-content-id="tab-content-beduerftige">Angehörige</li>
            </ul>

            <div class="tab-menu-content-wrapper">
                <div class="tab-content active" data-tab-content="tab-content-helfer">
                    <div class="step-wrapper">
                        <img src="images/anmelden_begleitbild.png" width="140" height="140" alt="Schritt 1: Anmelden" />
                        <h4>Anmelden</h4>
                        <p>Registriere dich mit deinem Personalausweis<br />kostenlos in der App</p>
                    </div>
                    <div class="step-wrapper">
                        <img src="images/hilferuf_empfangen_begleitbild.png" width="140" height="140" alt="Schritt 2: Hilferuf empfangen" />
                        <h4>Hilferuf empfangen</h4>
                        <p>Erhalte Hilferufe aus deiner Umgebung </p>
                    </div>
                    <div class="step-wrapper">
                        <img src="images/helfen_begleitbild.png" width="140" height="140" alt="Schritt 3: Helfen" />
                        <h4>Helfen</h4>
                        <p>Hilf deiner Gemeinde. Erledige Einkäufe<br />oder Botengänge und erhalte Punkte</p>
                    </div>
                </div>

                <div class="tab-content" data-tab-content="tab-content-beduerftige">
                    <div class="step-wrapper">
                        <img src="images/hilferuf_begleitbild.png" width="140" height="140" alt="Schritt 1: Anmelden" />
                        <h4>Helfer anfragen</h4>
                        <p>Ruf uns kostenlos an und teile uns mit wie<br />wir dir helfen können</p>
                    </div>
                    <div class="step-wrapper">
                        <img src="images/anmelden_begleitbild.png" width="140" height="140" alt="Schritt 2: Hilferuf empfangen" />
                        <h4>Hilfe empfangen</h4>
                        <p>Ein freiwilliger Helfer empfängt deine Anfrage<br />und löst dein Problem schnellstmöglich</p>
                    </div>
                    <div class="step-wrapper">
                        <img src="images/feedback_begleitbild.png" width="140" height="140" alt="Schritt 3: Helfen" />
                        <h4>Rückmeldung geben</h4>
                        <p>Sollte etwas nicht wie gewünscht<br />funktionieren, gib uns einfach Bescheid</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="c2a-block">
            <h2>Deine Mithilfe ist wichtig<br />und rettet Leben.</h2>
            <button class="button-48 helfer-c2a-btn">Jetzt Helfer werden</button>
        </section>

        <section id="faq-section">
            <h2>Häufig gestellte Fragen</h2>
            <ul class="accordeon-list">
                <li>
                    <div class="title">
                        <span>Wer bezahlt die Einkäufe?</span>
                        <div class="enfold-button"></div>
                    </div>
                    <div class="enfolded-content">
                        <p>Wir übernehmen die Kosten für den Einkauf und
                            senden eine Rechnung an den Hilfesuchenden.
                            Für den Helfer entstehen keine Kosten!
                    </div>
                </li>
                <li>
                    <div class="title">
                        <span>Wie vermeide ich Ansteckungsgefahren?</span>
                        <div class="enfold-button"></div>
                    </div>
                    <div class="enfolded-content">
                        <p>Der Hilferuf erfolgt per Telefon. Wurde die
                            Aufgabe erledigt werden die Einkäufe vor der
                            Wohnung abgelegt und der Hilfesuchende kann
                            sie abholen. Es entsteht kein Körperkontakt.</p>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <span>Was bringen mir NuG-Gets?</span>
                        <div class="enfold-button"></div>
                    </div>
                    <div class="enfolded-content">
                        <p>Hast du genug NuG-Gets gesammelt, erhälst
                            du Gutscheine für Unternehmen in deiner
                            Nähe. Dies können zum Beispiel Kinos, Eisdielen oder Bars sein.</p>
                    </div>
                </li>
            </ul>
        </section>

        <section id="get-in-contact-section">
            <h2>Du hast Fragen?</h2>
            <p>Schreib uns gerne eine Mail.<br />Wir freuen uns von dir zu hören!</p>
            <button class="button-48 get-in-contact-btn">NUG kontaktieren</button>
        </section>

        <section id="footer-section">
            <span class="copyright">&copy; 2020 nah-und-gern.de</span>
        </section>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

            /**
             * Tab Functionality
             */
            $('.tab-menu-item').on("click", function(e) {
                let clickedElem = e.target;
                if (!$(clickedElem).hasClass("active")) {
                    $('.tab-menu-item.active').removeClass("active");
                    $(clickedElem).addClass("active");
                    let tabContentIdToShow = $(clickedElem).attr("data-tab-content-id");

                    $('.tab-content.active').fadeOut(150, function(){
                        $(".tab-content[data-tab-content='"+tabContentIdToShow+"']").fadeIn(150);
                        $(".tab-content[data-tab-content='"+tabContentIdToShow+"']").addClass("active");
                    });
                }
            });

            /**
             * Sticky Header on specific scrollposition
             */
            let threshold = 400;
            let flag = false;
            window.addEventListener("scroll", function(e) {
                if (window.scrollY > threshold && !flag) {
                    flag = true;
                    $('#sticky-header').css("display", "flex")
                        .hide().slideDown(150);
                } else if (window.scrollY < threshold && flag) {
                    flag = false;
                    $('#sticky-header').slideUp(150);
                }
            });

            /**
             * Button Handler Pagefold
             */
            $('.helfer-c2a-btn').click(function() {
                window.location = '?v=fuer-helfer'
            });
            $('.beduerftige-c2a-btn').click(function() {
                window.location = '?v=fuer-beduerftige'
            });

            /**
             * F.A.Q enfold
             */
            let openFaq = null;
            $('.accordeon-list li .title').click(function(e) {
                let temp = $(e.target).parent().find(".enfolded-content");
                if ($(temp).css("display") == "none") {
                    if (openFaq) {
                        $(openFaq).slideUp(150);
                        $(openFaq).parent().find(".enfold-button").css("transform", "rotate(0deg");
                    }
                    $(temp).slideDown(150);
                    $(temp).parent().find(".enfold-button").css("transform", "rotate(180deg");
                    openFaq = temp;
                } else {
                    $(temp).slideUp(150);
                    $(temp).parent().find(".enfold-button").css("transform", "rotate(0deg");
                    openFaq = null;
                }
            });

            /**
             * Nug kontaktieren
             */
            $(".get-in-contact-btn").click(function() {
                window.open('mailto:Nah und Gern<hallo@nah-und-gern.de>', '_blank');
            });

            /**
             * So funktionierts video redirect
             */
            $('#start-tutorial-wrapper').click(function() {
                window.open('https://www.youtube.com/watch?v=6yoWR69uXvQ', '_blank');
            });

            /**
             * Menu Show/Hide
             */
            $('.menu-button').click(function() {
                $('#menu-container').css("display", "flex").hide();
                $('#menu-container').fadeIn(300);
            });

            $('#hide-menu').click(function() {
                $('#menu-container').fadeOut(300);
            });

        });
    </script>
</body>
</html>