<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Nah und Gern - Deine Nachbarschaftshilfe</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="views/landingpage_beduerftige/css/style.css" />
</head>
<body>
    <div id="main">

        <div id="menu-container">
            <button id="hide-menu" class="close-btn"></button>
            <ul class="list">
                <li><a href="?v=anmelden">Anmelden</a></li>
                <li><a class="get-in-contact-btn" href="#">Kontakt</a></li>
                <li><a href="?v=datenschutz">Impressum/Datenschutz</a></li>
            </ul>
        </div>

        <section id="sticky-header">
            <a href="/"><img src="images/logo.png" alt="Nah und Gern Logo" width="126" height)="41" /></a>
            <a class="menu-button" href="#">
                <img src="images/menu_button_dark.png" width="20" height="18" alt="Hauptmenü" />
            </a>
        </section>

        <section id="pagefold">

            <div id="pagefold-header">
                <a href="/"><img src="images/logo_white.png" alt="Nah und Gern Logo" width="126" height)="41" /></a>
                <a class="menu-button" href="#">
                    <img src="images/menu_button.png" width="20" height="18" alt="Hauptmenü" />
                </a>
            </div>

            <div id="pagefold-content">
                <h1>Mehr als<br />1500 Helfer...</h1>
                <p>...bieten hier Ihre nachbarschaftliche Hilfe an. Sie brauchen jemanden der einkauft? Ein Helfer übernimmt das!</p>
                <button class="button-48 register-c2a-btn">Erstelle dein Konto</button>

            </div>

        </section>

        <section id="how-it-works">
            <h2>So funktioniert's</h2>

            <div class="step-wrapper">
                <img src="images/konto_erstellen_begleitbild.png" width="140" height="140" alt="Schritt 1: Anmelden" />
                <h4>1. Konto erstellen</h4>
                <p>Entweder hier oder über das für Sie zuständige Rathaus.</p>
            </div>
            <div class="step-wrapper">
                <img src="images/sepa_begleitbild.png" width="140" height="140" alt="Schritt 2: Hilferuf empfangen" />
                <h4>2. Sepa Mandat erteilen</h4>
                <p>Damit Sie Ihre Einkäufe einfach und bequem bezahlen können</p>
            </div>
            <div class="step-wrapper">
                <img src="images/botengang_inserieren_begleitbild.png" width="140" height="140" alt="Schritt 3: Helfen" />
                <h4>3. Botengang inserieren</h4>
                <p>Sagen Sie unseren Helfer was Sie brauchen
                    und Ihnen wird schnellstmöglich geholfen</p>
            </div>
            <div class="step-wrapper">
                <img src="images/helfer_liefert_begleitbild.png" width="140" height="140" alt="Schritt 3: Helfen" />
                <h4>4. Ein Helfer liefert an Sie aus</h4>
                <p>Sie erhalten Ihre Bestellung zur Tür geliefert
                    und riskieren keine Ansteckung</p>
            </div>
            <div class="step-wrapper">
                <img src="images/belastung_begleitbild.png" width="140" height="140" alt="Schritt 3: Helfen" />
                <h4>5. Belastung Ihres Bankkontos</h4>
                <p>Der fällige Betrag wird von Ihrem Bankkonto eingezogen</p>
            </div>

        </section>

        <section id="c2a-block">
            <button class="button-48 white register-c2a-btn">Jetzt ein Konto erstellen</button>
        </section>

        <section id="faq-section">
            <h2>Häufig gestellte Fragen</h2>
            <ul class="accordeon-list">
                <li>
                    <div class="title">
                        <span>Wer bezahlt die Einkäufe?</span>
                        <div class="enfold-button"></div>
                    </div>
                    <div class="enfolded-content">
                        <p>Wir übernehmen die Kosten für den Einkauf und
                            senden eine Rechnung an den Hilfesuchenden.
                            Für den Helfer entstehen keine Kosten!
                    </div>
                </li>
                <li>
                    <div class="title">
                        <span>Wie vermeide ich Ansteckungsgefahren?</span>
                        <div class="enfold-button"></div>
                    </div>
                    <div class="enfolded-content">
                        <p>Der Hilferuf erfolgt per Telefon. Wurde die
                            Aufgabe erledigt werden die Einkäufe vor der
                            Wohnung abgelegt und der Hilfesuchende kann
                            sie abholen. Es entsteht kein Körperkontakt.</p>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <span>Was bringen mir NuG-Gets?</span>
                        <div class="enfold-button"></div>
                    </div>
                    <div class="enfolded-content">
                        <p>Hast du genug NuG-Gets gesammelt, erhälst
                            du Gutscheine für Unternehmen in deiner
                            Nähe. Dies können zum Beispiel Kinos, Eisdielen oder Bars sein.</p>
                    </div>
                </li>
            </ul>
        </section>

        <section id="get-in-contact-section">
            <h2>Du hast Fragen?</h2>
            <p>Schreib uns gerne eine Mail.<br />Wir freuen uns von dir zu hören!</p>
            <button class="button-48 get-in-contact-btn">NUG kontaktieren</button>
        </section>

        <section id="footer-section">
            <span class="copyright">&copy; 2020 nah-und-gern.de</span>
        </section>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

            /**
             * Konto erstellen redirect
             */
            $('.register-c2a-btn').click(function() {
                window.open('?v=registrierung-beduerftige', '_parent');
            });

            /**
             * Tab Functionality
             */
            $('.tab-menu-item').on("click", function(e) {
                let clickedElem = e.target;
                if (!$(clickedElem).hasClass("active")) {
                    $('.tab-menu-item.active').removeClass("active");
                    $(clickedElem).addClass("active");
                    let tabContentIdToShow = $(clickedElem).attr("data-tab-content-id");
                    $('.tab-content.active').fadeOut(150, function(){
                        $(".tab-content[data-tab-content='"+tabContentIdToShow+"']").fadeIn(150);
                    });
                }
            });


            /**
             * Sticky Header on specific scrollposition
             */
            let threshold = 400;
            let flag = false;
            window.addEventListener("scroll", function(e) {

                if (window.scrollY > threshold && !flag) {
                    flag = true;
                    $('#sticky-header').css("display", "flex")
                        .hide().slideDown(150);
                } else if (window. scrollY < threshold && flag) {
                    flag = false;
                    $('#sticky-header').slideUp(150);
                }

            });

            /**
             * F.A.Q enfold
             */
            let openFaq = null;
            $('.accordeon-list li .title').click(function(e) {
                let temp = $(e.target).parent().find(".enfolded-content");
                if ($(temp).css("display") == "none") {
                    if (openFaq) {
                        $(openFaq).slideUp(150);
                        $(openFaq).parent().find(".enfold-button").css("transform", "rotate(0deg");
                    }
                    $(temp).slideDown(150);
                    $(temp).parent().find(".enfold-button").css("transform", "rotate(180deg");
                    openFaq = temp;
                } else {
                    $(temp).slideUp(150);
                    $(temp).parent().find(".enfold-button").css("transform", "rotate(0deg");
                    openFaq = null;
                }
            });

            /**
             * Nug kontaktieren
             */
            $(".get-in-contact-btn").click(function() {
                window.open('mailto:Nah und Gern<hallo@nah-und-gern.de>', '_blank');
            });

            /**
             * Menu Show/Hide
             */
            $('.menu-button').click(function() {
                $('#menu-container').css("display", "flex").hide();
                $('#menu-container').fadeIn(300);
            });

            $('#hide-menu').click(function() {
                $('#menu-container').fadeOut(300);
            });


        });
    </script>
</body>
</html>